* {
  font-family: Helvetica, Arial, sans-serif;
  background-color:rgb(236, 236, 236);
}
.container {
  margin: auto;
}

h1 {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 10px;
}

img {
  max-height: 80vh;
  max-width: 70vw;
}
button {
  padding: 0.7rem;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}