* {
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  width: 60%;
  margin: auto;
  background-color:rgb(236, 236, 236);
}

h1 {
  text-align: center;
}

.select-container {
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .chapter-select {
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (min-width: 600px) {
  .chapter-select {
    display:flex;
    justify-content: space-evenly;
  }
}